
@font-face {
  font-family: 'Offside';
  src: url('./Offside-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Ubuntu-Regular.ttf') format('truetype');
}

:root {
  --dark-bg: #313638;
  --dark-text: #d9dbf1;
  --light-bg: #f9f9ed;
  --light-text: #7d84b2;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--light-bg);
  color: var(--light-text);
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Offside', sans-serif;
}

article {
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: var(--dark-bg);
      color: var(--dark-text);
  }
}




/* near network and login */

#network_toggle_button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2196F3; /* Example background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#network_toggle_button:hover {
  background-color: #1976D2; /* Darker shade on hover */
}